In [158]:
import pandas as pd
import numpy as np 

import requests 
from bs4 import BeautifulSoup as bs
import random

from urllib.request import Request, urlopen
import urllib3
import warnings
warnings.filterwarnings("ignore")
import re

import selenium 
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains



headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"}

In [159]:
    ab393yp
    ph221rb
    ph14dr
    ky50ug
    eh519sf
    g49sq
    dg34ea

NameError: name 'ab393yp' is not defined

**Northen Ireland**

In [ ]:
postcode  = ["BT78 3EH",
"BT46 5PA",
"BT62 3TF",
"BT12 6EQ"]

postcode = [i.lower().replace(" ","") for i in postcode]

In [ ]:

import requests
import pandas as pd
import re
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

warnings.simplefilter('ignore')
from bs4 import BeautifulSoup as bs

cols = ['price','make_model','year','type','mileage','engine_size','power','gearbox','fuel_type','number_of_owners','location','href']
df = pd.DataFrame(columns=cols)


for post in postcode:
        for page in range(1,101):
                print(f"Page {page}")
                url = f"https://www.autotrader.co.uk/car-search?postcode={post}&radius=15&include-delivery-option=on&page={page}"
                pages = requests.get(url,headers={"User-Agent":'Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'})
                soup = bs(pages.content, "html.parser")
               
                price = []
                make_model = []
                year = []
                vehicle_type = []
                mileage = []
                engine_size = []
                power = []
                gearbox = []
                fuel_type = []
                num_of_owners = []
                location = []
                href = []

                for item in soup.find_all("li", class_ = 'search-page__result'):
                        if len(item.find_all("li", class_ = 'atc-type-picanto--medium')) == 8:
                                try:
                                        price.append(item.find("div", class_ = 'product-card-pricing__price').text.split('\n')[1])
                                        make_model.append(item.find("h3", class_ = 'product-card-details__title').text.split('\n')[1])
                                        specs = item.find_all("li", class_ = 'atc-type-picanto--medium')
                                        location.append(item.find_all("li", class_ = 'product-card-seller-info__spec-item atc-type-picanto')[-1].text.split('\n')[4].title())
                                        x = item.find("a", class_ = 'js-click-handler listing-fpa-link tracking-standard-link').get('href')
                                        href.append(f"www.autotrader.co.uk{x}")
                        
                                except:
                                        pass
                                try:
                                        year.append(specs[0].text)
                                        vehicle_type.append(specs[1].text)
                                        mileage.append(specs[2].text)
                                        engine_size.append(specs[3].text)
                                        power.append(specs[4].text)
                                        gearbox.append(specs[5].text)
                                        fuel_type.append(specs[6].text)
                                        num_of_owners.append(specs[7].text)
                                except:
                                        pass
                        else:
                                pass

                for index in range(len(price)):
                        try:
                                df = df.append({'price':price[index],'make_model':make_model[index],'year':year[index],'type':vehicle_type[index],'mileage':mileage[index],'engine_size':engine_size[index],'power':power[index],'gearbox':gearbox[index],'fuel_type':fuel_type[index],'number_of_owners':num_of_owners[index],'location':location[index],'href':href[index]},ignore_index=True)
                        except:
                                pass

Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100

In [203]:
df

,price,make_model,year,type,mileage,engine_size,power,gearbox,fuel_type,number_of_owners,location,href,ID,ID_final
0,"£18,990",Audi A5,2017,Hatchback,"63,340 miles",2.0L,188BHP,Automatic,Diesel,1 owner,Castlederg,www.autotrader.co.uk/car-details/2022081989532...,202210190889994,"£18,99020221019088999463,340 miles"
1,"£13,995",Mazda CX-3,2018,SUV,"49,740 miles",1.5L,105PS,Manual,Diesel,1 owner,Omagh,www.autotrader.co.uk/car-details/2022121324905...,202210190889994,"£13,99520221019088999449,740 miles"
2,"£7,995",Peugeot 308,2014,Hatchback,"66,200 miles",1.6L,115PS,Manual,Diesel,2 owners,Omagh,www.autotrader.co.uk/car-details/2022120222129...,202210190889994,"£7,99520221019088999466,200 miles"
3,"£4,295",Vauxhall Corsa,2008,Hatchback,"45,000 miles",1.4L,89BHP,Automatic,Petrol,2 owners,Omagh,www.autotrader.co.uk/car-details/2022121224548...,202210190889994,"£4,29520221019088999445,000 miles"
4,"£11,350",BMW 3 SERIES,2014,Saloon,"94,551 miles",2.0L,181BHP,Manual,Diesel,2 owners,Castlederg,www.autotrader.co.uk/car-details/2022081989555...,202210190889994,"£11,35020221019088999494,551 miles"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2610,"£15,750",Ford Fiesta,2021,Hatchback,"17,823 miles",1.0L,125PS,Manual,Petrol,1 owner,Lisburn,www.autotrader.co.uk/car-details/2022102109560...,202210190889994,"£15,75020221019088999417,823 miles"
2611,"£22,999",DS Automobiles DS 7,2018,SUV,"34,652 miles",1.6L,225PS,Automatic,Petrol,1 owner,Belfast,www.autotrader.co.uk/car-details/2022120723423...,202210190889994,"£22,99920221019088999434,652 miles"
2612,"£11,850",SKODA Superb,2018,Hatchback,"99,365 miles",1.6L,118BHP,Manual,Diesel,2 owners,Bangor,www.autotrader.co.uk/car-details/2022111115927...,202210190889994,"£11,85020221019088999499,365 miles"
2613,"£2,000",Volkswagen Beetle,2007,Convertible,"128,000 miles",1.6L,102PS,Manual,Petrol,3 owners,Newtownabbey,www.autotrader.co.uk/car-details/2022120121806...,202210190889994,"£2,000202210190889994128,000 miles"
2614,"£74,440",Maserati Ghibli,2022,Saloon,2.0L,330PS,Automatic,Petrol,First year road tax included,Full manufacturer warranty,4.7,www.autotrader.co.uk/car-details/2022101908899...,202210190889994,"£74,4402022101908899942.0L"

In [245]:
for i in range(len(df['href'])):
  df['ID'][i] = df['href'][i].split('/')[2].split('?')[0]
    
df['ID_final'] = df['price'].convert_dtypes(str) + df['ID'].convert_dtypes(str) + df['mileage'].convert_dtypes(str)

df.drop_duplicates(subset = ['ID_final'])

df.drop(columns='Dup')

,price,make_model,year,type,mileage,engine_size,power,gearbox,fuel_type,number_of_owners,location,href,ID,ID_final
0,"£18,990",Audi A5,2017,Hatchback,"63,340 miles",2.0L,188BHP,Automatic,Diesel,1 owner,Castlederg,www.autotrader.co.uk/car-details/2022081989532...,202208198953260,"£18,99020220819895326063,340 miles"
1,"£13,995",Mazda CX-3,2018,SUV,"49,740 miles",1.5L,105PS,Manual,Diesel,1 owner,Omagh,www.autotrader.co.uk/car-details/2022121324905...,202212132490552,"£13,99520221213249055249,740 miles"
2,"£7,995",Peugeot 308,2014,Hatchback,"66,200 miles",1.6L,115PS,Manual,Diesel,2 owners,Omagh,www.autotrader.co.uk/car-details/2022120222129...,202212022212938,"£7,99520221202221293866,200 miles"
3,"£4,295",Vauxhall Corsa,2008,Hatchback,"45,000 miles",1.4L,89BHP,Automatic,Petrol,2 owners,Omagh,www.autotrader.co.uk/car-details/2022121224548...,202212122454878,"£4,29520221212245487845,000 miles"
4,"£11,350",BMW 3 SERIES,2014,Saloon,"94,551 miles",2.0L,181BHP,Manual,Diesel,2 owners,Castlederg,www.autotrader.co.uk/car-details/2022081989555...,202208198955593,"£11,35020220819895559394,551 miles"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2610,"£15,750",Ford Fiesta,2021,Hatchback,"17,823 miles",1.0L,125PS,Manual,Petrol,1 owner,Lisburn,www.autotrader.co.uk/car-details/2022102109560...,202210210956017,"£15,75020221021095601717,823 miles"
2611,"£22,999",DS Automobiles DS 7,2018,SUV,"34,652 miles",1.6L,225PS,Automatic,Petrol,1 owner,Belfast,www.autotrader.co.uk/car-details/2022120723423...,202212072342301,"£22,99920221207234230134,652 miles"
2612,"£11,850",SKODA Superb,2018,Hatchback,"99,365 miles",1.6L,118BHP,Manual,Diesel,2 owners,Bangor,www.autotrader.co.uk/car-details/2022111115927...,202211111592790,"£11,85020221111159279099,365 miles"
2613,"£2,000",Volkswagen Beetle,2007,Convertible,"128,000 miles",1.6L,102PS,Manual,Petrol,3 owners,Newtownabbey,www.autotrader.co.uk/car-details/2022120121806...,202212012180606,"£2,000202212012180606128,000 miles"
2614,"£74,440",Maserati Ghibli,2022,Saloon,2.0L,330PS,Automatic,Petrol,First year road tax included,Full manufacturer warranty,4.7,www.autotrader.co.uk/car-details/2022101908899...,202210190889994,"£74,4402022101908899942.0L"

In [ ]:
df['price'] = df.price.str.replace('£','')
df['price'] = df.price.str.replace(',','')
df['price'] = pd.to_numeric(df['price'])

df['year'] = df['year'].apply(lambda year: year[:4])
df['year'] = pd.to_numeric(df['year'])

df['mileage'] = df['mileage'].apply(lambda mileage: mileage[:-6])
df['mileage'] = df.mileage.str.replace(',','')
df['mileage'] = pd.to_numeric(df['mileage'])

df.dropna(inplace=True)
df.reset_index(inplace=True)
df.drop(columns='index',inplace=True)

# Engine size is shown in Litres
df['engine_size'] = df.engine_size.str.replace('L','')
df['engine_size'] = pd.to_numeric(df['engine_size'])

df['number_of_owners'] = df['number_of_owners'].apply(lambda num_of_owners: num_of_owners[0])
df['number_of_owners'] = pd.to_numeric(df['number_of_owners'], errors='coerce')

# Power will be converted to BHP if the value is in PS units
df['power'] = df['power'].apply(lambda power: int(power[:-2])/1.014 if 'PS' in power else power)
df['power'] = df['power'].apply(lambda power: power[:-3] if 'BHP' in str(power) else power)
df['power'] = pd.to_numeric(df['power'])

df['make'] = df['make_model'].apply(lambda make: make.split()[0])
df['model'] = df['make_model'].apply(lambda make: ' '.join(make.split()[1:]))
df.drop(columns='make_model',inplace=True)


  

df.dropna(inplace=True)
df.reset_index(inplace=True)
df.drop(columns='index',inplace=True)

for index,make in enumerate(df['make']):
        if re.match(r"Mazda[0-9]+",make):
                df['make'][index] = re.split('(\d+)',make)[0]
                df['model'][index] = re.split('(\d+)',make)[1]
        
        else:
                pass

In [ ]:
      df['combined_mpg'] = pd.to_numeric(df['combined_mpg'])
      df['href'] = df['href'].apply(lambda mpg: mpg.split()[0])

In [ ]:
                                        listing_page = requests.get(f"https://www.autotrader.co.uk{listing_url}",headers={"User-Agent":'Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'})
                                        listing_soup = bs(listing_page.content, "html.parser")

                                        driver_path = './chromedriver'
                                        driver = webdriver.Chrome(executable_path=driver_path)
                                        driver.get(f"https://www.autotrader.co.uk{listing_url}")

                                        WebDriverWait(driver,20).until(EC.frame_to_be_available_and_switch_to_it((By.XPATH,"//iframe[@id='sp_message_iframe_687971']")))
                                        time.sleep(10)
                                        WebDriverWait(driver,20).until(EC.element_to_be_clickable((By.CSS_SELECTOR,"button[aria-label='Accept All']"))).click()
                                        time.sleep(10)
                                        driver.execute_script("window.scrollTo(100,1200);")
                                        time.sleep(10)

                                        span_tag = driver.find_element(By.XPATH, "//*[contains(text(), 'Running costs')]")
                                        time.sleep(10)
                                        span_tag.find_element(By.XPATH, "..").click()

                                        time.sleep(10)
                                        mpg = driver.find_elements(By.XPATH, "//*[contains(text(), 'mpg')]")[-1]

                                        combined_mpg.append(mpg.text)

                                        driver.quit()

In [ ]:
postcode_scotland = ["ab393yp",
    "ph221rb",
    "ph14dr",
    "ky50ug",
    "eh519sf",
    "g49sq",
    "dg34ea"]


cols = ['price','make_model','year','type','mileage','engine_size','power','gearbox','fuel_type','number_of_owners','location','href']
df_scot = pd.DataFrame(columns=cols)


for post in postcode_scotland:
        for page in range(1,101):
                print(f"Page {page}")
                url = f"https://www.autotrader.co.uk/car-search?postcode={post}&radius=15&include-delivery-option=on&page={page}"
                pages = requests.get(url,headers={"User-Agent":'Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'})
                soup = bs(pages.content, "html.parser")
               
                price = []
                make_model = []
                year = []
                vehicle_type = []
                mileage = []
                engine_size = []
                power = []
                gearbox = []
                fuel_type = []
                num_of_owners = []
                location = []
                href = []

                for item in soup.find_all("li", class_ = 'search-page__result'):
                        if len(item.find_all("li", class_ = 'atc-type-picanto--medium')) == 8:
                                try:
                                        price.append(item.find("div", class_ = 'product-card-pricing__price').text.split('\n')[1])
                                        make_model.append(item.find("h3", class_ = 'product-card-details__title').text.split('\n')[1])
                                        specs = item.find_all("li", class_ = 'atc-type-picanto--medium')
                                        location.append(item.find_all("li", class_ = 'product-card-seller-info__spec-item atc-type-picanto')[-1].text.split('\n')[4].title())
                                        x = item.find("a", class_ = 'js-click-handler listing-fpa-link tracking-standard-link').get('href')
                                        href.append(f"www.autotrader.co.uk{x}")
                        
                                except:
                                        pass
                                try:
                                        year.append(specs[0].text)
                                        vehicle_type.append(specs[1].text)
                                        mileage.append(specs[2].text)
                                        engine_size.append(specs[3].text)
                                        power.append(specs[4].text)
                                        gearbox.append(specs[5].text)
                                        fuel_type.append(specs[6].text)
                                        num_of_owners.append(specs[7].text)
                                except:
                                        pass
                        else:
                                pass

                for index in range(len(price)):
                        try:
                                df_scot = df_scot.append({'price':price[index],'make_model':make_model[index],'year':year[index],'type':vehicle_type[index],'mileage':mileage[index],'engine_size':engine_size[index],'power':power[index],'gearbox':gearbox[index],'fuel_type':fuel_type[index],'number_of_owners':num_of_owners[index],'location':location[index],'href':href[index]},ignore_index=True)
                        except:
                                pass

Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100

In [ ]:
df_scot.isnull().sum()

price               0
make_model          0
year                0
type                0
mileage             0
engine_size         0
power               0
gearbox             0
fuel_type           0
number_of_owners    0
location            0
href                0
ID                  0
dtype: int64

In [ ]:
for i in range(len(df_scot['href'])):
    df_scot['ID'][i] = df_scot['href'][i].split('/')[2].split('?')[0]

In [160]:
df_scot['ID_final'] = df_scot['price'].convert_dtypes(str) + df_scot['ID'].convert_dtypes(str) + df_scot['mileage'].convert_dtypes(str)
for i in range(len(df_scot['href'])):
    df_scot['ID'][i] = df_scot['href'][i].split('/')[2].split('?')[0]

In [181]:
df_scot.drop_duplicates(subset=['ID_final'])

,price,make_model,year,type,mileage,engine_size,power,gearbox,fuel_type,number_of_owners,location,href,ID,ID_final
0,"£5,950",BMW 3 Series,1994 (L reg),Coupe,"92,252 miles",2.0L,150BHP,Automatic,Petrol,5 owners,Aberdeen,www.autotrader.co.uk/car-details/2022103012172...,202210301217262,"£5,95020221030121726292,252 miles"
1,"£7,995",Nissan Pathfinder,2014 (14 reg),SUV,"105,283 miles",2.5L,190PS,Automatic,Diesel,2 owners,Laurencekirk,www.autotrader.co.uk/car-details/2022111015658...,202211101565847,"£7,995202211101565847105,283 miles"
2,"£15,995",Ford Kuga,2018 (18 reg),SUV,"22,957 miles",1.5L,150PS,Manual,Petrol,2 owners,Montrose,www.autotrader.co.uk/car-details/2022100704961...,202210070496103,"£15,99520221007049610322,957 miles"
3,"£6,995",Mazda 3,2015 (15 reg),Hatchback,"71,316 miles",2.0L,118BHP,Manual,Petrol,2 owners,Banchory,www.autotrader.co.uk/car-details/2022120422614...,202212042261436,"£6,99520221204226143671,316 miles"
4,"£16,295",KIA Sportage,2016 (16 reg),SUV,"18,207 miles",2.0L,185PS,Manual,Diesel,2 owners,Montrose,www.autotrader.co.uk/car-details/2022090996039...,202209099603925,"£16,29520220909960392518,207 miles"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3141,"£37,794",Mitsubishi L200,2020 (70 reg),Pickup,"21,243 miles",2.2L,150PS,Automatic,Diesel,1 owner,Dumfries,www.autotrader.co.uk/car-details/2022121324827...,202212132482768,"£37,79420221213248276821,243 miles"
3142,"£36,594",Mitsubishi L200,2020 (70 reg),Pickup,"25,000 miles",2.2L,150PS,Automatic,Diesel,1 owner,Dumfries,www.autotrader.co.uk/car-details/2022120121730...,202212012173049,"£36,59420221201217304925,000 miles"
3143,"£37,794",Mitsubishi L200,2020 (70 reg),Pickup,"18,966 miles",2.2L,150PS,Automatic,Diesel,1 owner,Dumfries,www.autotrader.co.uk/car-details/2021100782163...,202110078216305,"£37,79420211007821630518,966 miles"
3144,"£37,794",Mitsubishi L200,2020 (70 reg),Pickup,"10,503 miles",2.2L,150PS,Automatic,Diesel,1 owner,Dumfries,www.autotrader.co.uk/car-details/2021081161027...,202108116102770,"£37,79420210811610277010,503 miles"
3145,"£38,394",Mitsubishi L200,2020 (70 reg),Pickup,"18,991 miles",2.2L,150PS,Automatic,Diesel,1 owner,Dumfries,www.autotrader.co.uk/car-details/2022121324827...,202212132482793,"£38,39420221213248279318,991 miles"

In [250]:
postcode = ['ne613uw','la13jw','dh14qp','hg41fh','yo103ny','ls115bz','m35hy','l87ju']

cols = ['price','make_model','year','type','mileage','engine_size','power','gearbox','fuel_type','number_of_owners','location','href']
df_gb = pd.DataFrame(columns=cols)


for post in postcode:
        for page in range(1,101):
                print(f"Page {page}")
                url = f"https://www.autotrader.co.uk/car-search?postcode={post}&radius=15&include-delivery-option=on&page={page}"
                pages = requests.get(url,headers={"User-Agent":'Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'})
                soup = bs(pages.content, "html.parser")
               
                price = []
                make_model = []
                year = []
                vehicle_type = []
                mileage = []
                engine_size = []
                power = []
                gearbox = []
                fuel_type = []
                num_of_owners = []
                location = []
                href = []

                for item in soup.find_all("li", class_ = 'search-page__result'):
                        if len(item.find_all("li", class_ = 'atc-type-picanto--medium')) == 8:
                                try:
                                        price.append(item.find("div", class_ = 'product-card-pricing__price').text.split('\n')[1])
                                        make_model.append(item.find("h3", class_ = 'product-card-details__title').text.split('\n')[1])
                                        specs = item.find_all("li", class_ = 'atc-type-picanto--medium')
                                        location.append(item.find_all("li", class_ = 'product-card-seller-info__spec-item atc-type-picanto')[-1].text.split('\n')[4].title())
                                        x = item.find("a", class_ = 'js-click-handler listing-fpa-link tracking-standard-link').get('href')
                                        href.append(f"www.autotrader.co.uk{x}")
                        
                                except:
                                        pass
                                try:
                                        year.append(specs[0].text)
                                        vehicle_type.append(specs[1].text)
                                        mileage.append(specs[2].text)
                                        engine_size.append(specs[3].text)
                                        power.append(specs[4].text)
                                        gearbox.append(specs[5].text)
                                        fuel_type.append(specs[6].text)
                                        num_of_owners.append(specs[7].text)
                                except:
                                        pass
                        else:
                                pass

                for index in range(len(price)):
                        try:
                                df_gb = df_gb.append({'price':price[index],'make_model':make_model[index],'year':year[index],'type':vehicle_type[index],'mileage':mileage[index],'engine_size':engine_size[index],'power':power[index],'gearbox':gearbox[index],'fuel_type':fuel_type[index],'number_of_owners':num_of_owners[index],'location':location[index],'href':href[index]},ignore_index=True)
                        except:
                                pass

Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100

In [252]:
df_gb.drop_duplicates()

,price,make_model,year,type,mileage,engine_size,power,gearbox,fuel_type,number_of_owners,location,href
0,"£1,650",Suzuki Grand Vitara,2007 (57 reg),SUV,"98,669 miles",1.6L,106PS,Manual,Petrol,5 owners,Gateshead,www.autotrader.co.uk/car-details/2022110714499...
1,"£1,595",MINI Hatch,2004 (04 reg),Hatchback,"96,559 miles",1.6L,115PS,Manual,Petrol,5 owners,Hebburn,www.autotrader.co.uk/car-details/2022122227086...
2,"£1,500",Mazda2,2010 (10 reg),Hatchback,"115,753 miles",1.3L,86PS,Manual,Petrol,1 owner,Newcastle Upon Tyne,www.autotrader.co.uk/car-details/2022111717766...
3,"£2,699",MINI Hatch,2006 (06 reg),Hatchback,"66,777 miles",1.6L,118PS,Manual,Petrol,1 owner,Stocksfield,www.autotrader.co.uk/car-details/2022111416612...
4,"£3,000",Lexus IS 200,2003 (03 reg),Saloon,"42,000 miles",2.0L,153BHP,Automatic,Petrol,3 owners,Newcastle Upon Tyne,www.autotrader.co.uk/car-details/2022120823670...
...,...,...,...,...,...,...,...,...,...,...,...,...
4218,"£16,995",SKODA Superb,2019 (69 reg),Hatchback,"33,323 miles",1.5L,148BHP,Automatic,Petrol,1 owner,Liverpool,www.autotrader.co.uk/car-details/2022101005872...
4219,"£9,800",Renault Kadjar,2015 (65 reg),SUV,"60,965 miles",1.5L,110BHP,Manual,Diesel,2 owners,Ellesmere Port,www.autotrader.co.uk/car-details/2022121926233...
4220,"£4,300",Ford Fiesta,2014 (14 reg),Hatchback,"27,000 miles",1.25L,82PS,Manual,Petrol,4 owners,Liverpool,www.autotrader.co.uk/car-details/2022110112902...
4221,"£4,500",Vauxhall Insignia,2011 (11 reg),Hatchback,"65,000 miles",2.0L,160PS,Manual,Diesel,Full service history,Garden City,www.autotrader.co.uk/car-details/2022113021554...
4222,"£10,621",Fiat 500,2020 (69 reg),Hatchback,"18,304 miles",1.2L,68BHP,Manual,Petrol,1 owner,Prenton,www.autotrader.co.uk/car-details/2022102209660...

In [256]:
postcodes_lower_gb = ["B1 2JZ","ST4 6AS","S2 4QZ","DN2 5EQ","HU3 2HR","LN5 7BP","NG2 4PH","DE1 1DP","WV6 9NB","CV1 5RS","WR1 2NF","HR2 6JT","GL1 4BQ","BS1 5UU","BA2 4HY"," EX4 2FB","PL3 4LD","TR1 1HP","DT1 2DZ","SO14 1ZA","PO3 6HX","PO3 6HX","CT4 7BL","TN5 6NJ","TN15 0RP","RH10 5AP","RG2 0BN","SL1 1XB","L3 5DW","NW9 8XT","E4 8NN","SE24 0PL"]

postcodes_lower_gb = [i.lower().replace(" ","") for i in postcodes_lower_gb]

['b12jz',
 'st46as',
 's24qz',
 'dn25eq',
 'hu32hr',
 'ln57bp',
 'ng24ph',
 'de11dp',
 'wv69nb',
 'cv15rs',
 'wr12nf',
 'hr26jt',
 'gl14bq',
 'bs15uu',
 'ba24hy',
 'ex42fb',
 'pl34ld',
 'tr11hp',
 'dt12dz',
 'so141za',
 'po36hx',
 'po36hx',
 'ct47bl',
 'tn56nj',
 'tn150rp',
 'rh105ap',
 'rg20bn',
 'sl11xb',
 'l35dw',
 'nw98xt',
 'e48nn',
 'se240pl']

In [257]:
cols = ['price','make_model','year','type','mileage','engine_size','power','gearbox','fuel_type','number_of_owners','location','href']
df_lower_gb = pd.DataFrame(columns=cols)


for post in postcodes_lower_gb:
        for page in range(1,101):
                print(f"Page {page}")
                url = f"https://www.autotrader.co.uk/car-search?postcode={post}&radius=15&include-delivery-option=on&page={page}"
                pages = requests.get(url,headers={"User-Agent":'Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'})
                soup = bs(pages.content, "html.parser")
               
                price = []
                make_model = []
                year = []
                vehicle_type = []
                mileage = []
                engine_size = []
                power = []
                gearbox = []
                fuel_type = []
                num_of_owners = []
                location = []
                href = []

                for item in soup.find_all("li", class_ = 'search-page__result'):
                        if len(item.find_all("li", class_ = 'atc-type-picanto--medium')) == 8:
                                try:
                                        price.append(item.find("div", class_ = 'product-card-pricing__price').text.split('\n')[1])
                                        make_model.append(item.find("h3", class_ = 'product-card-details__title').text.split('\n')[1])
                                        specs = item.find_all("li", class_ = 'atc-type-picanto--medium')
                                        location.append(item.find_all("li", class_ = 'product-card-seller-info__spec-item atc-type-picanto')[-1].text.split('\n')[4].title())
                                        x = item.find("a", class_ = 'js-click-handler listing-fpa-link tracking-standard-link').get('href')
                                        href.append(f"www.autotrader.co.uk{x}")
                        
                                except:
                                        pass
                                try:
                                        year.append(specs[0].text)
                                        vehicle_type.append(specs[1].text)
                                        mileage.append(specs[2].text)
                                        engine_size.append(specs[3].text)
                                        power.append(specs[4].text)
                                        gearbox.append(specs[5].text)
                                        fuel_type.append(specs[6].text)
                                        num_of_owners.append(specs[7].text)
                                except:
                                        pass
                        else:
                                pass

                for index in range(len(price)):
                        try:
                                df_lower_gb = df_lower_gb.append({'price':price[index],'make_model':make_model[index],'year':year[index],'type':vehicle_type[index],'mileage':mileage[index],'engine_size':engine_size[index],'power':power[index],'gearbox':gearbox[index],'fuel_type':fuel_type[index],'number_of_owners':num_of_owners[index],'location':location[index],'href':href[index]},ignore_index=True)
                        except:
                                pass

Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26

In [260]:
postcode_wales = ["ch12sa", "sy59jd"]

cols = ['price','make_model','year','type','mileage','engine_size','power','gearbox','fuel_type','number_of_owners','location','href']
df_wales = pd.DataFrame(columns=cols)


for post in postcode_wales:
        for page in range(1,101):
                print(f"Page {page}")
                url = f"https://www.autotrader.co.uk/car-search?postcode={post}&radius=15&include-delivery-option=on&page={page}"
                pages = requests.get(url,headers={"User-Agent":'Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'})
                soup = bs(pages.content, "html.parser")
               
                price = []
                make_model = []
                year = []
                vehicle_type = []
                mileage = []
                engine_size = []
                power = []
                gearbox = []
                fuel_type = []
                num_of_owners = []
                location = []
                href = []

                for item in soup.find_all("li", class_ = 'search-page__result'):
                        if len(item.find_all("li", class_ = 'atc-type-picanto--medium')) == 8:
                                try:
                                        price.append(item.find("div", class_ = 'product-card-pricing__price').text.split('\n')[1])
                                        make_model.append(item.find("h3", class_ = 'product-card-details__title').text.split('\n')[1])
                                        specs = item.find_all("li", class_ = 'atc-type-picanto--medium')
                                        location.append(item.find_all("li", class_ = 'product-card-seller-info__spec-item atc-type-picanto')[-1].text.split('\n')[4].title())
                                        x = item.find("a", class_ = 'js-click-handler listing-fpa-link tracking-standard-link').get('href')
                                        href.append(f"www.autotrader.co.uk{x}")
                        
                                except:
                                        pass
                                try:
                                        year.append(specs[0].text)
                                        vehicle_type.append(specs[1].text)
                                        mileage.append(specs[2].text)
                                        engine_size.append(specs[3].text)
                                        power.append(specs[4].text)
                                        gearbox.append(specs[5].text)
                                        fuel_type.append(specs[6].text)
                                        num_of_owners.append(specs[7].text)
                                except:
                                        pass
                        else:
                                pass

                for index in range(len(price)):
                        try:
                                df_wales = df_wales.append({'price':price[index],'make_model':make_model[index],'year':year[index],'type':vehicle_type[index],'mileage':mileage[index],'engine_size':engine_size[index],'power':power[index],'gearbox':gearbox[index],'fuel_type':fuel_type[index],'number_of_owners':num_of_owners[index],'location':location[index],'href':href[index]},ignore_index=True)
                        except:
                                pass

Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100
Page 1
Page 2
Page 3
Page 4
Page 5
Page 6
Page 7
Page 8
Page 9
Page 10
Page 11
Page 12
Page 13
Page 14
Page 15
Page 16
Page 17
Page 18
Page 19
Page 20
Page 21
Page 22
Page 23
Page 24
Page 25
Page 26
Page 27
Page 28
Page 29
Page 30
Page 31
Page 32
Page 33
Page 34
Page 35
Page 36
Page 37
Page 38
Page 39
Page 40
Page 41
Page 42
Page 43
Page 44
Page 45
Page 46
Page 47
Page 48
Page 49
Page 50
Page 51
Page 52
Page 53
Page 54
Page 55
Page 56
Page 57
Page 58
Page 59
Page 60
Page 61
Page 62
Page 63
Page 64
Page 65
Page 66
Page 67
Page 68
Page 69
Page 70
Page 71
Page 72
Page 73
Page 74
Page 75
Page 76
Page 77
Page 78
Page 79
Page 80
Page 81
Page 82
Page 83
Page 84
Page 85
Page 86
Page 87
Page 88
Page 89
Page 90
Page 91
Page 92
Page 93
Page 94
Page 95
Page 96
Page 97
Page 98
Page 99
Page 100

In [262]:
df_wales.drop_duplicates()

,price,make_model,year,type,mileage,engine_size,power,gearbox,fuel_type,number_of_owners,location,href
0,"£2,295",Renault Megane,2006 (56 reg),Hatchback,"49,000 miles",1.6L,111BHP,Manual,Petrol,3 owners,Garden City,www.autotrader.co.uk/car-details/2022122327407...
1,"£2,995",Vauxhall Astra,2011 (11 reg),Hatchback,"83,000 miles",2.0L,160PS,Automatic,Diesel,2 owners,Liverpool,www.autotrader.co.uk/car-details/2022122227189...
2,"£3,695",BMW 3 Series,2008 (58 reg),Saloon,"74,000 miles",2.0L,143PS,Manual,Petrol,4 owners,Garden City,www.autotrader.co.uk/car-details/2022122827968...
3,"£2,995",Vauxhall Insignia,2010 (60 reg),Hatchback,"93,000 miles",2.0L,130PS,Manual,Diesel,6 owners,Garden City,www.autotrader.co.uk/car-details/2022122727838...
4,"£2,915",Renault Clio,2012 (12 reg),Hatchback,"85,000 miles",1.2L,75PS,Manual,Petrol,2 owners,Runcorn,www.autotrader.co.uk/car-details/2022121325028...
...,...,...,...,...,...,...,...,...,...,...,...,...
1116,"£18,840",Jaguar XE,2017 (17 reg),Saloon,"24,760 miles",2.0L,180PS,Automatic,Diesel,1 owner,Shrewsbury,www.autotrader.co.uk/car-details/2022121324768...
1117,"£35,450",Audi A6 Allroad,2020 (20 reg),Estate,"56,028 miles",3.0L,231PS,Automatic,Diesel,1 owner,Shrewsbury,www.autotrader.co.uk/car-details/2022081788772...
1118,"£58,990",Land Rover Range Rover Sport,2019 (69 reg),SUV,"45,435 miles",3.0L,306PS,Automatic,Diesel,2 owners,Shrewsbury,www.autotrader.co.uk/car-details/2022112118757...
1119,"£20,287",Volkswagen Polo Hatchback,2022 (22 reg),Hatchback,"4,007 miles",1.0L,95PS,Automatic,Petrol,1 owner,Shrewsbury,www.autotrader.co.uk/car-details/2022110313393...
1120,"£8,190",Suzuki Swift,2016 (16 reg),Hatchback,"48,000 miles",1.2L,94PS,Manual,Petrol,1 owner,Shrewsbury,www.autotrader.co.uk/car-details/2022120222130...

In [288]:
df = [df_wales,df_gb,df_lower_gb,df_scot]

df = pd.concat(df).reset_index(drop=True)

In [292]:
df.drop(columns=['ID','ID_final'],inplace = True)

In [297]:
for i in range(len(df['href'])):
    df['ID'] = df['href'][i].split('/')[2].split('?')[0]

In [300]:
df['ID_final'] = df['price'].convert_dtypes(str) + df['ID'].convert_dtypes(str) + df['mileage'].convert_dtypes(str)
df

,price,make_model,year,type,mileage,engine_size,power,gearbox,fuel_type,number_of_owners,location,href,ID,ID_final
0,"£2,295",Renault Megane,2006 (56 reg),Hatchback,"49,000 miles",1.6L,111BHP,Manual,Petrol,3 owners,Garden City,www.autotrader.co.uk/car-details/2022122327407...,202212122463037,"£2,29520221212246303749,000 miles"
1,"£2,995",Vauxhall Astra,2011 (11 reg),Hatchback,"83,000 miles",2.0L,160PS,Automatic,Diesel,2 owners,Liverpool,www.autotrader.co.uk/car-details/2022122227189...,202212122463037,"£2,99520221212246303783,000 miles"
2,"£3,695",BMW 3 Series,2008 (58 reg),Saloon,"74,000 miles",2.0L,143PS,Manual,Petrol,4 owners,Garden City,www.autotrader.co.uk/car-details/2022122827968...,202212122463037,"£3,69520221212246303774,000 miles"
3,"£2,995",Vauxhall Insignia,2010 (60 reg),Hatchback,"93,000 miles",2.0L,130PS,Manual,Diesel,6 owners,Garden City,www.autotrader.co.uk/car-details/2022122727838...,202212122463037,"£2,99520221212246303793,000 miles"
4,"£2,915",Renault Clio,2012 (12 reg),Hatchback,"85,000 miles",1.2L,75PS,Manual,Petrol,2 owners,Runcorn,www.autotrader.co.uk/car-details/2022121325028...,202212122463037,"£2,91520221212246303785,000 miles"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25348,"£10,295",Suzuki Grand Vitara,2014 (64 reg),SUV,"19,156 miles",1.6L,106PS,Manual,Petrol,5 owners,Dumfries,www.autotrader.co.uk/car-details/2022120924105...,202212122463037,"£10,29520221212246303719,156 miles"
25349,"£5,290",Mazda2,2016 (66 reg),Hatchback,"57,262 miles",1.5L,90PS,Manual,Petrol,2 owners,Dumfries,www.autotrader.co.uk/car-details/2022120823750...,202212122463037,"£5,29020221212246303757,262 miles"
25350,"£3,890",Peugeot 108,2017 (17 reg),Hatchback,"37,000 miles",1.0L,68PS,Manual,Petrol,2 owners,Dumfries,www.autotrader.co.uk/car-details/2022120422715...,202212122463037,"£3,89020221212246303737,000 miles"
25351,"£5,795",Audi A8,2007 (07 reg),Saloon,"46,000 miles",4.2L,344BHP,Automatic,Petrol,3 owners,Dumfries,www.autotrader.co.uk/car-details/2022122227031...,202212122463037,"£5,79520221212246303746,000 miles"
25352,"£8,450",Peugeot 2008,2015 (64 reg),SUV,"42,107 miles",1.6L,115PS,Manual,Diesel,4 owners,Dumfries,www.autotrader.co.uk/car-details/2022121224630...,202212122463037,"£8,45020221212246303742,107 miles"

In [302]:
df.drop_duplicates(subset='ID_final',inplace=True)

In [305]:
df.reset_index(inplace=True)

In [311]:
df.drop(columns = 'index',inplace = True)

In [323]:
df['price'] = df.price.replace(',','').replace('£','')

df['year'] = df['year'].apply(lambda year: year[:4])
df['year'] = pd.to_numeric(df['year'])

 

df['mileage'] = df['mileage'].apply(lambda mileage: mileage[:-6])
df['mileage'] = df.mileage.str.replace(',','')
df['mileage'] = pd.to_numeric(df['mileage'])
 

df.dropna(inplace=True)
df.reset_index(inplace=True)
df.drop(columns='index',inplace=True)
 

# Engine size is shown in Litres
df['engine_size'] = df.engine_size.str.replace('L','')
df['engine_size'] = pd.to_numeric(df['engine_size'])

 

df['number_of_owners'] = df['number_of_owners'].apply(lambda num_of_owners: num_of_owners[0])
df['number_of_owners'] = pd.to_numeric(df['number_of_owners'], errors='coerce')

 

# Power will be converted to BHP if the value is in PS units
df['power'] = df['power'].apply(lambda power: int(power[:-2])/1.014 if 'PS' in power else power)
df['power'] = df['power'].apply(lambda power: power[:-3] if 'BHP' in str(power) else power)
df['power'] = pd.to_numeric(df['power'])

 

df['make'] = df['make_model'].apply(lambda make: make.split()[0])
df['model'] = df['make_model'].apply(lambda make: ' '.join(make.split()[1:]))
df.drop(columns='make_model',inplace=True)

 

df.dropna(inplace=True)
df.reset_index(inplace=True)
df.drop(columns='index',inplace=True)

 

for index,make in enumerate(df['make']):
    if re.match(r"Mazda[0-9]+",make):
        df['make'][index] = re.split('(\d+)',make)[0]
        df['model'][index] = re.split('(\d+)',make)[1]
    else:
        pass

TypeError: 'int' object is not subscriptable

In [324]:
df

,price,make_model,year,type,mileage,engine_size,power,gearbox,fuel_type,number_of_owners,location,href,ID,ID_final
0,£2295,Renault Megane,2006,Hatchback,49000.0,1.6,111BHP,Manual,Petrol,3 owners,Garden City,www.autotrader.co.uk/car-details/2022122327407...,202212122463037,"£2,29520221212246303749,000 miles"
1,£2995,Vauxhall Astra,2011,Hatchback,83000.0,2.0,160PS,Automatic,Diesel,2 owners,Liverpool,www.autotrader.co.uk/car-details/2022122227189...,202212122463037,"£2,99520221212246303783,000 miles"
2,£3695,BMW 3 Series,2008,Saloon,74000.0,2.0,143PS,Manual,Petrol,4 owners,Garden City,www.autotrader.co.uk/car-details/2022122827968...,202212122463037,"£3,69520221212246303774,000 miles"
3,£2995,Vauxhall Insignia,2010,Hatchback,93000.0,2.0,130PS,Manual,Diesel,6 owners,Garden City,www.autotrader.co.uk/car-details/2022122727838...,202212122463037,"£2,99520221212246303793,000 miles"
4,£2915,Renault Clio,2012,Hatchback,85000.0,1.2,75PS,Manual,Petrol,2 owners,Runcorn,www.autotrader.co.uk/car-details/2022121325028...,202212122463037,"£2,91520221212246303785,000 miles"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18095,£37794,Mitsubishi L200,2020,Pickup,21243.0,2.2,150PS,Automatic,Diesel,1 owner,Dumfries,www.autotrader.co.uk/car-details/2022121324827...,202212122463037,"£37,79420221212246303721,243 miles"
18096,£36594,Mitsubishi L200,2020,Pickup,25000.0,2.2,150PS,Automatic,Diesel,1 owner,Dumfries,www.autotrader.co.uk/car-details/2022120121730...,202212122463037,"£36,59420221212246303725,000 miles"
18097,£37794,Mitsubishi L200,2020,Pickup,18966.0,2.2,150PS,Automatic,Diesel,1 owner,Dumfries,www.autotrader.co.uk/car-details/2021100782163...,202212122463037,"£37,79420221212246303718,966 miles"
18098,£37794,Mitsubishi L200,2020,Pickup,10503.0,2.2,150PS,Automatic,Diesel,1 owner,Dumfries,www.autotrader.co.uk/car-details/2021081161027...,202212122463037,"£37,79420221212246303710,503 miles"
18099,£38394,Mitsubishi L200,2020,Pickup,18991.0,2.2,150PS,Automatic,Diesel,1 owner,Dumfries,www.autotrader.co.uk/car-details/2022121324827...,202212122463037,"£38,39420221212246303718,991 miles"